.top-Board {
    margin-left: 9.5%;
    width:100%;
    grid-area: main;
    overflow-y: auto;
    
}

.main__container {
    padding: 20px 35px;
    background: #f3f4f6;
    grid-area: main;
    overflow-y: auto;
    
    width:100%
}
.graph{
    margin-top: 30%;
    background: #f3f4f6;
  
    
}




