.wrapper {
    display: flex;
}

.customtbl
{
  
    margin-left: -20rem!important;
    margin-right: 5rem!important;
}

.customtbl table {
    border: 1px solid black;
}

.customtbl table th, .customtbl table td {
    border: 1px solid black;
    padding: 1rem; 
}

.customtbl table thead {
    background-color: black;
    color: white;
}