.fee-form {
    margin-left: 10rem;
    margin-top: 2rem;
}

.tb{
    margin-left: 3rem;
 
}

.txn {
    margin-left: 16rem;
    width: 70vw!important;
}

.customtbl {
    margin-left: -68vw!important;
  
}

.cstm-tbll > .d-flex > div {
    width: 200px;
    border-bottom: 1px solid black;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.transaction{
    margin-top: 33rem;
    padding-bottom: 5%;
    
}
.detail{
   
    border: 1px solid black;
    padding: 5%;
    padding-bottom: 16px!important;
    /* margin: 10px auto; */
}
.deet{
    margin-left: 10px;
}
