.student-form{
    margin-top: 2rem;
    width: 90vw;
   
}
.student{
    margin-top: 2rem;
    width: 90vw;
    margin-left: 65rem;
   
}
.tb{
    margin-left: 3rem;
}

.customtbl {
    margin-right: -89vw!important;
}

.cstm-tbl {
    margin-left: 0;
    width: 40vw;
}

.cstm-tbl tr td:first-child {
    background-color: black;
    color: white;
}

.cstm-tbl tr td:last-child {
    background-color: lightgray;
    border: none;
}

.hed{
    margin-top: 5rem;

}
.reg-detail{
    margin-top: 22rem !important;
    border: 1px solid black;
 
    margin-left: -21%;
    width: 947px !important;
 height: 360px !important;
   

   
}
.btn{
    align-items: center;
}
.register-student{
    margin-left: 4rem;
}