.link-style{
    text-decoration: none;
    color: inherit;
}

.link-style:hover{
    text-decoration: none;
}
.log-out{
    display: 'flex';
     flex-direction: "column";
      justify-content: "space-evenly" 
}
.logo{
    width: 70px;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
   
}