.spinnerr {
    height: 100vh;
    width: 160vw;
    display: flex;
    justify-content: center !important;
    position: fixed !important;
    align-items: center !important;
    margin-left: -29%;
}