.tablee{
    margin-top: 5rem;
  width: 80%;
    margin-left: 2rem;
}
.search{
    margin-left: 25rem;
}

/* .detaill {
    border: 1px solid black;
    padding: 0px 16px;
} */
.title{
    margin-left: -15rem;
}
.title{
    margin-top: o;
}
#csv{
    margin-left: 780px;

}
#name-search{
    margin-right: -3rem;
}